@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* font-weight: 600; */
}
body{
    /* background: url(images/bg.png); */
   background-size: cover;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}
nav{
    width: 100%;
    height: 75px;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(4,9,30,0.2);
    display: flex;
    position: fixed;
    z-index: 1;
    padding: 10px;
}
#nav-item{
    margin-top: -9px;
    margin-left: 130px;
}

.logo{
    width: 260px;
    height: 70px;
    margin-top: -5px;
    cursor: pointer; 
}

.login-logo{
    width: 60px;
    height: 60px;
}

nav ul{
    width: 100%;
}

nav ul li{
    position: relative;
    list-style: none;
    display: inline-block;
    margin: 12px 0px 0px 5%;
}

nav ul li a{
    display: block;
    padding: 0 40px;
    color: #000;
    text-decoration: none;
    transition: 0.1s;
}

.def-shad{
    background-color: rgba(4, 9, 30, 0.1);
    border-radius: 10px;
    padding: 15px 40px 15px 40px;
}

/* .login{
  background-color: rgba(249, 232, 3, 0.64);
  border-radius: 10px;
  padding: 15px 40px 15px 40px;
} */

nav ul li a:hover{
    background-color: rgba(4, 9, 30, 0.1);
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.wrapper{
    margin-top: 7%;
    position: absolute;
    width: 455px;
    height: 485px;
    border-radius: 30px;
    transform: rotate(5deg);
    background: rgba(255, 255, 255, 0.53);
    box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.115),
                -2px -0px 15px 2px rgba(0, 0, 0, 0.054);
}
.box{
    margin-top: 7%;
    width: 450px;
    height: 480px;
    background: #fff;
    backdrop-filter: blur(20px);
    border-radius: 30px;
    padding: 40px;
    box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.1),
                -2px -0px 15px 2px rgba(0,0,0,0.1);
    z-index: 10;           
}
.header{
    margin-bottom: 40px;
}
header{
    display: flex;
    align-items: center;
}
.header header{
    display: flex;
    justify-content: right;
}
header img{
    width: 25px;
}
.header p{
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
}
.input-box{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    position: relative;
}
i{
    font-size: 22px;
    position: absolute;
    top: 35px;
    right: 12px;
    color: #595b5e;
}
input{
    height: 40px;
    border: 2px solid rgb(153, 157, 158);
    border-radius: 7px;
    margin: 5px 0;
    outline: none;
}
.input-field{
    font-weight: 500;
    padding: 0 10px;
    font-size: 17px;
    color: #333;
    background: transparent;
    transition: all .3s ease-in-out;
}
.input-field:focus{
    border: 2px solid rgb(89, 53, 180);
}
.input-field:focus ~ i{
    color: rgb(89, 53, 180);
}
.input-submit{
    background: #1e263a;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.input-submit:hover{
    background: #122b71;
}
.forgot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.forgot span{
    color: #727374;
    cursor: pointer;
    display: flex;
}
/* .forgot span:hover{
    color: #122b71;
    text-decoration: underline;
} */

.login-text{
    color: #122b71;
    text-decoration: none;
    padding-left: 5px;
}

.login-text:hover{
    text-decoration: underline;
}